<div class="col-md-12">
    <div class="card">
      <div class="card-header">
          <h3 class="card-title"><%= tableTitle ?? "Permissions" %></h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Permission</th>
              <th style="width: 70px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let permission of permissions){ %>
              <tr>
                <td><%= permission.name %></td>
                <td>
                        <form method="POST" action="/cms/role/<%= type=='rolePermissions'?'revokePermission':'assignPermission' %>">
                            <input type="hidden" name="roleId" value="<%= locals.role.id %>">
                            <input type="hidden" name="permissionId" value="<%= permission.id %>">
                            <button type="submit" class="btn btn-block btn-<%= type=='rolePermissions'?'danger':'primary' %> m-0"><%= type=='rolePermissions'?'Revoke':'Assign' %></button>
                        </form>
                        
                </td>
              </tr>
              <% } %> 
            
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">«</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
      </div>
    </div>
  </div>