<div class="col-md-12">
    <div class="card">
      <div class="card-header">
          <h3 class="card-title"><%= tableTitle ?? "Users" %></h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><%= locals.type %></th>
              <th style="width: 70px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% for(let user of users){ %>
              <tr>
                <td><%= user.name %></td>
                <td>
                    <button type="button" class="btn btn-block btn-primary m-0"><a href="/web/cms/user/<%= user.guard %>/<%= user.id %>" style="text-decoration: none; color: white;">View</a></button>
                </td>
              </tr>
              <% } %> 
            
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">«</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>

        
      </div>
    </div>
  </div>