<% if(locals.responseMetaData.totalPages>1){ %>
    <ul class="pagination pagination-sm m-0 float-right">
        <li class="page-item"><a class="page-link" href="<%= `${locals.currentUrl}${locals.currentUrl.includes('?')?'&':'?'}page=${locals.responseMetaData.currentPag-1}` %>">«</a></li>
        <% for(let i=1; i<=locals.responseMetaData.totalPages; i++){ %>
            <li class="page-item <%= i==locals.responseMetaData.currentPage?"active":"" %>"><a class="page-link" href="<%= `${locals.currentUrl}${locals.currentUrl.includes('?')?'&':'?'}page=${i}` %>"><%= i %></a></li>
        <% } %>  
        <li class="page-item"><a class="page-link" href="<%= `${locals.currentUrl}${locals.currentUrl.includes('?')?'&':'?'}page=${locals.responseMetaData.currentPage+1}` %>">»</a></li>
    </ul>
  <% } %>